In [1]:
import pandas as pd
import folium
from haversine import haversine

exporters_df = pd.read_csv("./../../dataset/district/district.csv")
exporters_df = exporters_df.dropna(subset=['Latitude', 'Longitude'])
terminal_locations_df = pd.read_csv("./../../dataset/district/terminal_locations.csv")

# Terminal colors for plotting
terminal_colors = {
    'Kottapuram': 'red',
    'Aluva': 'blue',
    'CEPZ (Kakkanadu)': 'blue',
    'Maradu': 'blue',
    'Vaikkom': 'yellow',
    'Thannermukkom': 'yellow',
    'Alappuzha': 'green',
    'Thrikunnappuzha': 'green',
    'Kayamkulam (Ayiramthengu)': 'magenta',
    'Chavara': 'magenta',
    'Kollam': 'magenta',
    'Bolgatty Island (CoPT land-on lease)': 'blue',
    'Willingdon Island (CoPT land-on lease)': 'blue'
}

# map for each terminal with exporters within a 5 km radius
def create_terminal_map(terminal_row):
    terminal_name = terminal_row['Terminal']
    terminal_location = (terminal_row['Latitude'], terminal_row['Longitude'])
    terminal_color = terminal_colors.get(terminal_name, 'black')
    
    terminal_map = folium.Map(location=terminal_location, zoom_start=12)

    folium.Marker(location=terminal_location, popup=terminal_name, icon=folium.Icon(color='black')).add_to(terminal_map)

    nearby_exporters = exporters_df.apply(
        lambda row: haversine(terminal_location, (row['Latitude'], row['Longitude'])) <= 5, axis=1
    )
    filtered_exporters = exporters_df[nearby_exporters]
    
    # Add exporters to the map
    for _, exporter in filtered_exporters.iterrows():
        folium.CircleMarker(
            location=[exporter['Latitude'], exporter['Longitude']],
            radius=5,
            color=terminal_color,
            fill=True,
            fill_color=terminal_color
        ).add_to(terminal_map)
    
    filename = f"exporters_map_5km_{terminal_name.replace(' ', '_')}.html"
    terminal_map.save(filename)
    print(f"Map saved: {filename}")

for _, terminal_row in terminal_locations_df.iterrows():
    create_terminal_map(terminal_row)

Map saved: exporters_map_5km_Kottapuram.html
Map saved: exporters_map_5km_Aluva.html
Map saved: exporters_map_5km_CEPZ_(Kakkanadu).html
Map saved: exporters_map_5km_Maradu.html
Map saved: exporters_map_5km_Vaikkom.html
Map saved: exporters_map_5km_Thannermukkom.html
Map saved: exporters_map_5km_Alappuzha.html
Map saved: exporters_map_5km_Thrikunnappuzha.html
Map saved: exporters_map_5km_Kayamkulam_(Ayiramthengu).html
Map saved: exporters_map_5km_Chavara.html
Map saved: exporters_map_5km_Kollam.html
Map saved: exporters_map_5km_Bolgatty_Island_(CoPT_land-on_lease).html
Map saved: exporters_map_5km_Willingdon_Island_(CoPT_land-on_lease).html

In [1]:
import pandas as pd

In [5]:
exporters_df = pd.read_csv("./../../dataset/district/district.csv")
exporters_df.describe()
exporters_df.head(5)

,Unnamed: 0.1,Unnamed: 0,Address,pincode,Taluk,Districtname,statename,Latitude,Longitude
0,1,1,"WJMW+7F7, Chandanathope, Mamoodu, Kerala 14, I...",686012,Kottayam,Kottayam,KERALA,9.548567,76.522308
1,3,3,"98WW+WWQ, Valanjavazhy, Ambalapuzha, Kerala 68...",688005,Ambalappuzha,Alappuzha,KERALA,9.407684,76.351707
2,9,15,"MINI INDUSTRIAL ESTATE, PLOT NO .5, near POLIC...",686019,Kottayam,Kottayam,KERALA,9.592533,76.582306
3,11,17,"Kochangadi, Chullickal, Kochi, Kerala 682002, ...",682002,Kochi,Ernakulam,KERALA,9.957255,76.254022
4,14,20,"19/2084-E, Nambiapuram Rd, Palluruthy, Kochi, ...",682006,Kochi,Ernakulam,KERALA,9.917653,76.273265

In [9]:
exporters_df = exporters_df.drop(exporters_df.columns[[0, 1]], axis=1)

In [11]:
exporters_df.head(5)

,Address,pincode,Taluk,Districtname,statename,Latitude,Longitude
0,"WJMW+7F7, Chandanathope, Mamoodu, Kerala 14, I...",686012,Kottayam,Kottayam,KERALA,9.548567,76.522308
1,"98WW+WWQ, Valanjavazhy, Ambalapuzha, Kerala 68...",688005,Ambalappuzha,Alappuzha,KERALA,9.407684,76.351707
2,"MINI INDUSTRIAL ESTATE, PLOT NO .5, near POLIC...",686019,Kottayam,Kottayam,KERALA,9.592533,76.582306
3,"Kochangadi, Chullickal, Kochi, Kerala 682002, ...",682002,Kochi,Ernakulam,KERALA,9.957255,76.254022
4,"19/2084-E, Nambiapuram Rd, Palluruthy, Kochi, ...",682006,Kochi,Ernakulam,KERALA,9.917653,76.273265

In [13]:
exporters_df.to_csv('district.csv', index=False)